.intro
  background: $white
  padding: 7vw 7vw 13vw

  &-title
    font-family: $karla
    font-size: 1.4em
    font-weight: 400
    padding-bottom: 8vw

  &-subtitle
    font-family: $playfair-display
    font-size: 7vw
    font-weight: 900
    letter-spacing: .05em
    line-height: 8vw

  &-corner-image
    position: absolute
    right: 0
    top: 0
    width: 35%
    z-index: 1
