.section
  color: $whisper
  padding: 6vw 6vw 10vw
  transition: opacity 500ms ease-in-out

  &.dark
    background: $cod-gray

  &.background-image
    color: $white

    &.work
      background: url('../img/spaceback.jpeg') no-repeat center center
      background-size: cover

  &.bliss-in-a-bottle
    background: url('../img/blissinabottle-clients-background.jpg') no-repeat center center
    background-size: cover

  &.samson-mens-emporium
    background: url('../img/samsonmensemporium-clients-background.jpg') no-repeat center center
    background-size: cover

  &.prolong-tool
    background: url('../img/prolongtool-clients-background.jpg') no-repeat center center
    background-size: cover

  &.musca-domestica
    background: url('../img/muscadomestica-clients-background.jpeg') no-repeat center center
    background-size: cover

  &.boobs-that-are-cool
    background: url('../img/2mfzssh.jpg') no-repeat center center
    background-size: cover

  &-title
    font-size: 1.4em

  &-content
    display: flex
    justify-content: stretch
    padding-top: 5vw

    &-center
      color: $whisper
      font-family: $playfair-display
      font-size: 5vw
      font-weight: 700
      line-height: 5vw
      text-align: center
      width: 100%

    &-left
      font-family: $playfair-display
      font-size: 3.6vw
      font-weight: 700
      line-height: 4vw
      width: 60%

      &-comment
        font-family: $karla
        font-size: 1.4vw
        font-weight: 300
        padding-top: 7vw

    &-right
      font-size: 3vw
      padding-top: 5vw
      text-align: center
      width: 40%


@media (max-width: $medium-devices)
  .section-content
    display: flex
    flex-direction: column

    &-left
      font-size: 7vw
      line-height: 8vw
      width: 100%

      &-comment
        font-size: 3vw

    &-right
      font-size: 7vw
      text-align: left
