.study
  background: $cod-gray
  color: $whisper
  padding: 20vw
  text-align: center

  &-aside
    font-family: $karla
    font-size: 1em
    line-height: 1.3em
    padding: 0vw 10vw

  &-main
    font-family: $playfair-display
    font-size: 3vw
    font-weight: 700
    line-height: 3.5vw
