.section.dark
  .section-title.fade-in About
  .section-content.fade-in
    .section-content-subtitle
      | We focus on building better business. Living code for living people.
      .section-content-subtitle-comment (Strict "No Zombie" Policy)
    +arrow('/about.html', 'circle-dark', '')
