.section.dark
  .section-title.fade-in About
  .section-content.fade-in
    .section-content-left
      | We focus on building better business. Living code for living people.
      .section-content-left-comment (Strict "No Zombie" Policy)
    .section-content-right
      +circle-button('/about', 'circle-dark', '')
