a(href='/work')
  img.intro-corner-image(src='img/spacework.png')
.intro.page-fade-in.one
  .intro-title.page-fade-in.two pots&amp;pans.web
  .intro-subtitle.page-fade-in.two
    | The internet can be a big, scary place. Let us help you find your&nbsp;
    span.intro-subtitle-rotatingPhrase escape pod.
