.section.background-image.work
  .section-title.fade-in Work
  .section-content.fade-in
    .section-content-left
      | In the vast expanses of the internet it's easy to feel small and
      | unnoticed. Meet some of the people we've helped shine a whole lot
      | brighter.
      .section-content-left-comment
        | Turning clients into friends since the dawn of time.
    .section-content-right
      +circle-button('/work', 'circle-dark', '')
