.section.background-image.work
  .section-title.fade-in Work
  .section-content.fade-in
    .section-content-subtitle
      | Take a look at some of our tastiest code concoctions. We have a
      | different flavor for everyone. All cruelty-free*.
      .section-content-subtitle-comment *Yet completely packed with gluten!
    +arrow('/work.html', 'circle-light', '')
