mixin footer
  .footer
    .footer-section
      img(src='img/potsnpanstriangle.png')
    .footer-section
      .footer-section-title Let's Talk
      | Remy Brommer
      br
      | 614-981-2686
    .footer-section
      .footer-section-title Film Division
      | Daniel Zabludovsky
      br
      | 614-406-5710
    .footer-section
      .footer-section-title Socially Acceptable
      | Instagram
      br
      | Twitter
      br
      | Facebook
