mixin subfooter
  .subfooter
    .subfooter-link
      +link('./about.html', 'link', '_top', 'About')
    .subfooter-link
      +link('./work.html', 'link', '_top', 'Work')
    .subfooter-link
      +link('./contact.html', 'link', '_top', 'Contact')
