-
  clients = ['Bliss in a Bottle', "Samson Men's Emporium", 'Prolong Tool',
             'Musca Domestica']

.section.background-image.work.page-fade-in.one
  .intro-title.center
    +link('/index', '', '_top', 'pots&pans.web')
  .section-content-center
    ul.client-list
      each client in clients
        li.client-list-item
          +link(
            client.replace(/\s+/g, '-').replace(/'/g, '').toLowerCase(),
            '',
            '',
            client
          )
