.section.black
  .section-content.fade-in
    .section-title
      | We've transformed the digital image of many businesses over the years.
      | Above are some of our most recent and widely varied online experiences,
      | built to push these businesses ahead of their competition and honestly
      | engage their audience.
      br
      br
      | If you want to see more work, or talk about advancing your online
      | presence,
      u
        +link('/contact', '', '', "let's connect.")
    .section-content-right
      +circle-button('/contact', 'circle-dark', '')
