mixin about
  .about
    .about-title.fade-in About
    .about-content.fade-in
      .about-content-subtitle
        | We focus on building better business. Living code for living people.
        .about-content-subtitle-comment (Strict "No Zombie" Policy)
      .about-content-arrow
        span.about-content-arrow-circle &gt;
