mixin footer
  .footer
    .footer-triangle
      img(src='img/potsnpanstriangle.png')
    .footer-webContact
      .footer-webContact-title Let's Talk
      | Remy Brommer
      br
      | 614-981-2686
    .footer-filmContact
      .footer-filmContact-title Film Division
      | Daniel Zabludovsky
      br
      | 614-406-5710
    .footer-social
      .footer-social-title Socially Acceptable
      | Instagram
      br
      | Twitter
      br
      | Facebook
