mixin intro
  script.
    $(document).ready(function () {
      $(window).scroll(function () {
        if ($(this).scrollTop() > 250) {
          $('.into-subtitle-rotatingPhrase').html('magic carpet.');
        } else {
          $('.into-subtitle-rotatingPhrase').html('yellow brick road.');
        }
        if ($(this).scrollTop() > 350) {
          $('.into-subtitle-rotatingPhrase').html('portal gun.');
        }
        if ($(this).scrollTop() > 450) {
          $('.into-subtitle-rotatingPhrase').html('helper monkey.');
        }
        if ($(this).scrollTop() > 550) {
          $('.into-subtitle-rotatingPhrase').html('escape tunnel.');
        }
      });
    });

  .intro.page-fade-in.one
    .intro-title.center.page-fade-in.two pots&amp;pans.web
    .intro-subtitle.center.page-fade-in.two
      | The internet can be a big, scary place. Let us help you find your
      .into-subtitle-rotatingPhrase yellow brick road
