mixin work
  .work
    .work-title.fade-in Work
    .work-content.fade-in
      .work-content-subtitle
        | Take a look at some of our tastiest code concoctions. We have a
        | different flavor for everyone. All cruelty-free*.
        .work-content-subtitle-comment *Yet completely packed with gluten!
      .work-content-arrow
        span.work-content-arrow-circle &gt;
