.intro
  padding: 6.5vw 13vw 13vw 13vw
  background: $white

  &-title
    font-family: $open-sans
    font-size: 1.9em
    font-weight: 700
    padding-bottom: 3vw

  &-subtitle
    font-family: $playfair-display
    font-size: 8vw
    font-weight: 900
    letter-spacing: .05em
    line-height: 9vw
