extends ./layouts/base.pug

block content
  +hero('../img/blissnewback.jpeg', 'Delicious do-over')
  +study(
    'bliss-in-a-bottle',
    "Our goal was to bring this growing business not only into the present, but a few steps <i>into the future</i>.",
    [
      'img/bliss-in-a-bottle-example.png',
      'img/bliss-in-a-bottle-example.png',
      'img/bliss-in-a-bottle-example.png'
    ]
  )
