extends ./base.pug

include ./mixins/footer
include ./mixins/subfooter
include ./mixins/arrow

block content
  include ./home/_intro.pug
  include ./home/_about.pug
  include ./home/_work.pug
  +footer
  +subfooter
